html, body {
  height: 100%;
  min-width: 1000px;
  background-color: #fafafa;
}

* {
  font-family: "Microsoft Yahei";
  font-size: 14px;
  color: #333333;
}

#app {
  height: 100%;
}

.ivu-input {
  border: 1px solid #cccccc;
}

.ivu-input-large {
  font-size: 14px;
  padding: 6px 7px;
  height: 40px !important;
}

.ivu-form-item-label {
  font-size: 14px !important;
  color: #666666 !important;
  margin-right: 26px !important;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #5074d7 !important;
}

.ivu-btn-primary[disabled],
.ivu-btn-primary[disabled]:hover {
  background-color: #a2b6ea;
}

.ivu-btn-primary:active {
  background-color: #2747ab;
}

.ivu-btn-ghost {
  border: 1px solid #5074d7;
}

.ivu-modal-header {
  border-bottom: transparent;
}

.ivu-modal-footer {
  border-top: transparent;
}

/*.ivu-modal-mask {
  background-color: #333333;
  opacity: 0.4;
}*/

.ivu-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.flip-list-move {
  transition: all 1s;
}
